* {
    box-sizing: content-box;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
    text-align: center;
}

p {
    border: 3px solid black;
    border-top: hidden ;
    background-color: rgb(196, 194, 194);
    width: 90%;
    padding: 10px;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

.chicken{
    color: seagreen;
    background-color: chocolate;
}
.beef{
    background-color: tomato;  
}
.sushi{
    background-color: lightcoral ;
}
.chicken,.beef,.sushi{
    text-align: right; 
    padding: 5%;
    font-size: 20px;
    border: 3px solid black; 
    border-bottom: hidden;
    position: relative;
    left: 0%;
    top: 16px; 
    width: 90%;
    padding: 10px;
    height: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;

}

.row {
    width: 100%;
    text-align: center;

}

@media (min-width: 992px) {

    .col-lg-1,
    .col-lg-2,
    .col-lg-3 {
        float: left;
    }

    .col-lg-1 {
        width: 33%;
    }

    .col-lg-2 {
        width: 33%;
    }

    .col-lg-3 {
        width: 33%;
    }


}

@media (min-width: 768px) and (max-width: 991px) {


    .col-md-1,
    .col-md-2,
    .col-md-3,
        {
        float: left;
    }

    .col-md-1 {
        width: 45%;
        float: left;
        position: relative;
        left: 3%;
    }

    .col-md-2 {
        float: right;
        width: 50%;
        position: relative;
        right: 3%;
    }

    .col-md-3 {
        width: 99%;
        float: left;
    }
}

